@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Press+Start+2P&display=swap');

body {
  margin: 0;
  background-color: #FFC600;
  font-family: 'Nanum Gothic Coding', monospace;
}

canvas {
  border: 10px solid #000;
  background-color: #FFFFFF;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.picContainer {
  display: flex;
  flex-direction: row;
  width: 80vw;
  flex-wrap: wrap;
  justify-content: center;
  user-select: none;
  align-items: flex-end;

  img {
    width: 150px;
    height: 150px;
    background-color: #FFF;
    border: 2px solid #000;
    margin: 10px;
  }
}

.picItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  p {
    margin: 5px;
    font-weight: 600;
  }
}

nav {
  display: flex;
  flex-direction: row;
  padding: 25px;

  button {
    margin: 0 10px;
    width: 80px;
    color: #FFF;
    background-color: #000;
    cursor: pointer;
  }
}

.toolsAndCanvas {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 30px 5px;
  width: 100%;
  justify-content: space-around;
}

.toolContainer {
  display: flex;
  flex-direction: row;
  width: 150px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 25px;

  button {
    border: 1px solid #000;
    width: 50px;
    height: 35px;
    cursor: pointer;
  }

  input {
    margin: 10px 0 0 0
  }
}

.tool {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    font-size: 24px;
    font-weight: 600;
  }
}

.dot {
  background-color: #000;
  border-radius: 50%;
  display: inline-block;
}

.options {
  display: flex;
  flex-direction: row;
  width: 50vw;
  justify-content: space-around;
  margin: 0 0 15px 0;

  button {
    width: 125px;
    height: 50px;
    background-color: #000;
    border: none;
    color: #FFC600;
    font-size: 22px;
    border-radius: 15px;
    cursor: pointer;
    margin: 0 2px;
  }
}

.titleInput {
  border: none;
  background: none;
  text-align: center;
  width: 220px;
  color: #000;
  border-bottom: 2px #000 solid;
  outline: none;
  font-size: 24px;
}

// ::placeholder {
//   color: #FFF;
// }

@media only screen and (max-width: 800px) {
  .toolsAndCanvas {
    flex-direction: column;
    margin: 0px
  }

  .tool p {
    margin: 10px
  }

  .titleInput {
    margin: 15px;
  }
}