body {
  margin: 0;
  background-color: #FFC600;
}

canvas {
  border: 10px solid #000;
  background-color: #FFFFFF;
}

container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
